* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
}

/* Counter component */
.counter {
  display: flex;
  align-items: center;
  gap: 7px;
}

.circle {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
}

.filled {
  background-color: black;
}

.counter-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 16px;
}

.counter-container > span {
  font-size: 32px;
}
/* Counter component */

.selections {
  display: flex;
  gap: 32px;
  justify-content: center;
}

/* Selection button */
.tile,
.selection {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection {
  border: 5px solid black;
  border-radius: 10px;
}

.selection:hover {
  background-color: #b2b2b2;
}

.clicked {
  background-color: #b2b2b2;
}

.result-container {
  justify-content: flex-start;
  font-size: 22px;
}

.result-panels {
  display: flex;
  align-items: center;
  gap: 34px;
}
/* Chosen selections */
.chosen-selection {
  width: 150px;
  height: 75px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.computer {
  border-bottom: 2.5px solid black;
  border-radius: 10px 10px 0 0;
}

.player {
  border-top: 2.5px solid black;
  border-radius: 0 0 10px 10px;
}

.won {
  background-color: #f66b0e;
}
